@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.09);
  }
  100% {
    transform: scale(1);
  }
}

.scale-animation {
  animation: scaleAnimation 3s infinite;
}

.preloader-container {
  background-color: #004e3a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stroke-animation {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: stroke 2s ease forwards, fill 2s 2s ease forwards,
    scale 1s 4s ease forwards;
}

.fill-animation path {
  animation: fill 2s 2s ease forwards;
}
@keyframes stroke {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  0% {
    fill: transparent;
  }
  100% {
    fill: white;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1.2); /* Start zoomed in */
  }
  100% {
    transform: scale(1); /* End at normal scale */
  }
}

.scale-animation {
  animation: zoomOut 1.5s ease-out forwards; /* Adjust duration as needed */
}
.hero-img-clipPath {
  -webkit-mask-image: url(./assets/images/svg/hero-img-vector.svg);
  mask-image: url(./assets/images/svg/hero-img-vector.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.bg-hero-img {
  background-image: url(./assets/images/png/bg-img.png);
  animation: heroImgScale 2s ease-in-out forwards;
}

@keyframes heroImgScale {
  100% {
    transform: scale(1.1);
  }
}
